{% extends 'base.html' %}
{% block content %}

{% if success %}
<div class="message">
    <img class="icon" src="/img/success.png" />
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac quam in ligula condimentum posuere. Donec ut orci magna.</h1>
    <p>Link da campanha</p>
    <input type="text" disabled value="kdjhasdkfjhsdkjfhklasdj" />
</div>
{% else %}
<form class="validate" action="admin/{{handle}}/create" method="POST">
    {% if errors %}
    <ul class="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="formSize campaignHeader">
        <img class="logo" src="https://twitter.com/{{targetHandle}}/profile_image?size=original" />
        <div class="field">
            <h2>@{{ targetHandle }}</h2>
        </div>
        <div class="field">
            <input id="campaignName" name="campaignName" type="text" value="{{ campaignName }}" tabindex="2" placeholder="Campaign Name">
        </div>
        <div class="field">
            <input id="campaignDescription" name="campaignDescription" type="text" value="{{ campaignDescription }}" tabindex="3" placeholder="Campaign description">
        </div>
    </div>

    <div class="customFields">
        <div class="field toClone">
            <input type="text" value="" novalidate placeholder="">
            <a href="#" class="close">&#215</a>
        </div>
    </div>

    <div class="newField">
        <div class="field">
            <input type="text" value="{{ momentsLink }}" tabindex="4" novalidate placeholder="Field name">
            <select>
                <option disabled selected>Type</option>
                <option value="text">Text</option>
                <option value="email">Email</option>
                <option value="date">Date</option>
                <option value="cpf">CPF</option>
            </select>
        </div>
    </div>

    <div class="addField field">
        <a href="#">Add Field</a>
    </div>

    <div class="field">
        <input id="momentsLink" name="momentsLink" type="text" value="{{ momentsLink }}" tabindex="4" placeholder="Moments URL">
    </div>
    <div class="field">
        <textarea id="successMessage" name="successMessage" value="{{ successMessage }}" tabindex="5" placeholder="Success Message"></textarea>
    </div>
    <div class="field">
        <input id="pixelLink" name="pixelLink" novalidate type="text" value="{{ pixelLink }}" tabindex="6" placeholder="Conversion Link">
    </div>
    <div class="field buttons">
        <button>Preview Form</button>
        <button id="createForm">Save</button>
    </div>
</form>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAL-iG-U-XFdlsekihk4QZK1WBy8YxNgAI"></script>
<script type="text/javascript" src="/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/js/map.min.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
{% endif %}
{% endblock %}
