{% extends 'base.html' %}
{% block content %}
{% if success %}
<div class="message">
    <img class="icon" src="/img/success.png" />
    <h1>Your campaign was successfully created. To begin gathering data, provide the following link to your users:</h1>
    <p>Campaign Link</p>
    <input id="copy-link" onClick="this.setSelectionRange(0, this.value.length)" data-placement="bottom" data-clipboard-text="{{ campaignUrl }}" title="Click to copy." value="{{ campaignUrl }}" readonly data-toggle='tooltip' />
</div>
{% else %}
<form class="validate" action="/admin/{{ targetHandle }}/create" method="POST" id='mainForm'>
    <input type="hidden" name="formData" id="formData" />
    {% if errors %}
    <ul class="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="formSize campaignHeader">
        <img class="logo" src="/profilePicture/{{targetHandle}}" />
        <div class="field">
            <div class="tooltipBox">
                <h2>@{{ targetHandle }}</h2>
                <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="This is your @user that is carried automatically from Twitter. This is going to show the end user as the brand who is
asking for their info">?</span>
            </div>
        </div>
        <div class="field">
            <div class="tooltipBox inputs">
                <input id="campaignName" type="text" value="{{ name }}" tabindex="2" placeholder="Campaign Name">
                <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="This is your campaign's name and description. On the description you should ask the user for their information.">?</span>
            </div>
        </div>
        <div class="field">
            <input id="campaignDescription" type="text" value="{{ description }}" tabindex="3" placeholder="Campaign description">
        </div>
    </div>

    <div class="customFields">
        <div class="field toClone">
            <input type="text" value="" novalidate placeholder="" />
            <a href="#" class="close">&#215</a>
        </div>
    </div>

    <div class="newField">
        <div class="field">
            <div class="tooltipBox inputs">
                <input type="text" value="{{ momentsLink }}" tabindex="4" novalidate placeholder="Field name">
                <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="These are the questions you are going to ask the users to fill out. The questions are going to show inside the field and they are all mandatory.">?</span>
            </div>
            <select>
                <option disabled selected>Type</option>
                <option value="text">Text</option>
                <option value="email">Email</option>
                <option value="date">Date</option>
                <option value="cpf">CPF</option>
            </select>
        </div>
    </div>

    <div class="addField field">
        <div class="tooltipBox">
            <a href="#">Add Field</a>
            <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="Click here to add new fields. Options are: text (use this option for any type of information you need, with no syntax validation), email (system checks if syntax is correct - if there’s a @ sign, for instance), date (validates date in a DD/MM/YYYY) format, CPF (identification valid in Brazil only)">?</span>
        </div>
    </div>

    <div class="field">
        <div class="tooltipBox inputs">
            <input id="momentsLink" novalidate type="text" value="{{ momentsLink }}" tabindex="4" placeholder="Moments URL">
            <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="Insert a Moment to be displayed after the Thank You message. If no Moment is added, window will close after 4 seconds and user will return to Twitter.">?</span>
        </div>
    </div>
    <div class="field">
        <div class="tooltipBox inputs">
            <input id="submitText" type="text" value="{{ submitText }}" tabindex="5" placeholder="Submit Text Button">
            <!-- <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="">?</span> -->
        </div>
    </div>
    <div class="field">
        <div class="tooltipBox textarea">
            <textarea id="successMessage" tabindex="6" placeholder="Success Message">{{ confirmationMessage }}</textarea>
            <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="Insert a Custom Thank-You message to be displayed after the user sends the form.">?</span>
        </div>
    </div>
    <div class="field">
        <div class="tooltipBox textarea">
            <textarea id="pixelLink" novalidate tabindex="7" placeholder="Conversion Pixel / Website Tag">{{ conversionUrl }}</textarea>
            <span class="tooltipIcon blank" data-placement="top" data-toggle="tooltip" title="Insert Twitter Universal Website Tag here. The tag is crucial to track and optimize your campaign’s conversions.">?</span>
        </div>

    </div>
    <div class="field buttons">
        <button id="previewButton" type="submit">Preview Form</button>
        <button id="createForm">Save</button>
    </div>
</form>
<form id="preview" action="/admin/preview" method="POST" target="_blank">
    <input name="previewForm" type="hidden" value="" />
</form>
{% endif %}
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
{% endblock %}
