{% extends 'base.html' %}
{% block content %}
<h1>Olá, @{{ handle }}</h1>
<div class="card selected">
    <img class="logo" src="https://twitter.com/{{handle}}/profile_image?size=original" />
    <a href="/admin/download/{{ targetHandle.handle }}/all/json" target="_blank">
        <img src="/img/json.png" />
    </a>
    <a href="/admin/download/{{ targetHandle.handle }}/all/csv" target="_blank">
        <img src="/img/csv.png" />
    </a>
    <span class="handle">@{{targetHandle.handle}}</span>
    <span class="key">{{targetHandle.secretKey.secretKey}}</span>
</div>
{% for c in targetHandle.campaigns %}
<div class="card">
    <a href="/admin/download/{{ targetHandle.handle }}/{{ c }}/json" target="_blank">
        <img src="/img/json.png" />
    </a>
    <a href="/admin/download/{{ targetHandle.handle }}/{{ c }}/csv" target="_blank">
        <img src="/img/csv.png" />
    </a>
    <span class="campaignName">{{ c.campaign }}</span>
    <hr />
    <img src="/img/edit.png" class="moment" />
    <input type="text" name="moments" class="momentURL" data-campaign="{{c.campaign}}" placeholder="Insira aqui o link" value="{{c.url}}" />
</div>
{% endfor %}
{% endblock %}
