{% extends 'base.html' %}
{% block content %}
<h1>Greetings, @{{ handle }}!</h1>
<div class="card selected">
    <img class="logo" src="/profilePicture/{{targetHandle}}" />
    <div class="tooltipBox handleBox">
        <span class="handle">@{{targetHandle}}</span>
        <span class="tooltipIcon blank" data-placement="bottom" data-toggle="popover" title="Handle" data-content="This is your @user that is carried automatically from Twitter.
You need to be logged into Twitter to access this page">?</span>
    </div>
    <div class="links">
        <div class="tooltipBox">
            <a href="/admin/{{targetHandle}}/all/json" target="_blank">
                Download JSON
            </a>
            <span class="tooltipIcon blank" data-placement="bottom" data-toggle="popover" title="Download JSON" data-content="Use this button to download all data from all your
campaigns in a JSON format.">?</span>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="newCampaign">
    <a id="newCampaign" href="/admin/{{targetHandle}}/create" target="_blank">New Campaign</a>
</div>
{% for c in campaigns %}
<div class="card" data-campaign-id="{{ c.id }}">
    <div class="campaignData">
        <div class="tooltipBox">
            <span class="campaignName">{{ c.name }}</span>
            <span class="tooltipIcon blank" data-placement="bottom" data-toggle="popover" title="Campaign Name" data-content="The name you created for your campaign">?</span>
        </div>
        <div class="tooltipBox inputs">
            <input onClick="this.setSelectionRange(0, this.value.length)" data-placement="bottom" title="" data-clipboard-text="{{ c.url }}" class="linkURL" readonly data-toggle='tooltip' type="text" value="{{ c.url }}" />
            <span class="tooltipIcon blank" data-placement="bottom" data-toggle="popover" title="Campaign URL" data-content="The URL of the form you created. Click on it to copy the URL
and paste it in the URL field of your Twitter Ads campaign.">?</span>
        </div>
    </div>
    <div class="links">
        <a href="/admin/{{ targetHandle }}/{{ c.id }}/csv" target="_blank">
            Download CSV
        </a>
        <a href="/admin/{{ targetHandle }}/{{ c.id }}/json" target="_blank">
            Download JSON
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}
