{% extends 'base.html' %}
{% block content %}
<h1>Greetings, @{{ handle }}!</h1>
{% for c in campaigns %}
<div class="card" data-campaign-id="{{c._id}}">
    <div class="campaignData">
        <a class="detail" href="/admin/{{c._id}}">
            <span class="campaignName">@{{c.name}}</span>
        </a>
    </div>
    <div class="links">
        <a href="/{{ c._id }}/csv" target="_blank">
            Download CSV
        </a>
        <a href="/{{ c._id }}/json" target="_blank">
            Download JSON
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}
