{% extends 'base.html' %}
{% block content %}
<h1>Greetings, @{{ handle }}!</h1>
<div class="newCampaign">
    <a id="newCampaign" href="/admin/{{handle}}/create" target="_blank">New Campaign</a>
</div>

{% for handle in handles %}
<div class="card">
    <div class="campaignData">
        <a class="detail" href="/admin/{{handle}}">
            <div class="tooltipBox">
                <span class="campaignName">@{{handle}}</span>
                <span class="tooltipIcon blank" data-placement="bottom" data-toggle="tooltip" title="The brand campaigns">?</span>
            </div>
        </a>
    </div>
    <div class="links">
        <a href="/admin/{{ handle }}/all/json" target="_blank">
            Download JSON
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}
