{% extends 'base.html' %}
{% block content %}
<h1>Greetings, @{{ handle }}!</h1>
{% for handle in handles %}
<div class="card">
    <div class="campaignData">
        <a class="detail" href="/admin/{{handle}}">
            <span class="campaignName">@{{handle}}</span>
        </a>
    </div>
    <div class="links">
        <a href="/admin/{{ card.handle }}/all/json" target="_blank">
            Download JSON
        </a>
    </div>
</div>
{% endfor %}
<div class="newCampaign">
    <a id="newCampaign" href="/admin/{{handle}}/create" target="_blank">New Campaign</a>
</div>
{% endblock %}
