{% extends 'base.html' %}
{% block content %}
{% if success %}
<div class="message">
    <img class="icon" src="/img/success.png" />
    <h1>#testdrive solicitado</h1>
    <p>Muito obrigado.<br>
    Agora é só esperar a nossa equipe entrar em contato para marcar a melhor data e local.</p>
</div>
{% if momentUrl %}
<a class="twitter-moment" href="{{momentUrl}}"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
{% else %}
<form class="validate" id="campaign" action="/{{handle}}/{{campaign}}" method="POST">
    {% if errors %}
    <ul class="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="formSize campaignHeader">
        <img class="logo" src="/img/twitter.png" />
        <div class="field">
            <h2>Tesla Motors</h2>
            <h3>@teslamotors</h3>
        </div>
        <div class="field">
            <p id="campaignName">Nome da campanha grande para testar quebra de linha</p>
        </div>
        <div class="field">
            <p id="campaignDescription">Descrição da campanha grande para testar quebra de linha</p>
        </div>
    </div>

    <div class="customFields">
        <div class="field">
            <input type="text" value="" placeholder="Nome do campo" />
        </div>
        <div class="field">
            <input type="text" value="" placeholder="Nome do campo" />
        </div>
        <div class="field">
            <input type="text" value="" placeholder="Nome do campo" />
        </div>
        <div class="field">
            <input type="text" value="" placeholder="Nome do campo" />
        </div>
        <div class="field">
            <input type="text" value="" placeholder="Nome do campo" />
        </div>
    </div>

    <div class="field buttons">
        <button type="submit">Enviar</button>
    </div>
</form>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAL-iG-U-XFdlsekihk4QZK1WBy8YxNgAI"></script>
<script type="text/javascript" src="/js/map.min.js"></script>
<script type="text/javascript" src="/js/create.js"></script>
{% endif %}

{% endblock %}
