{% extends 'base.html' %}
{% block content %}
{% if success %}
<div class="message">
    <img class="icon" src="/img/sent.png" />
    <h1>#testdrive solicitado</h1>
    <p>Muito obrigado.<br>
    Agora é só esperar a nossa equipe entrar em contato para marcar a melhor data e local.</p>
</div>
{% if momentUrl %}
<a class="twitter-moment" href="{{momentUrl}}"></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
{% else %}
<div class="header">
    <img class="logo" src="https://twitter.com/{{handle}}/profile_image?size=original" />
    <p class="name">{{realName}}</p>
    <p class="handle">@{{handle}}</p>
</div>
<h1>Para marcar o seu #testdrive é bem fácil. Complete esse formulário que a gente te retorna com algumas opções.</h1>
<form class="validate" action="/{{handle}}/{{campaign}}" method="POST">
    {% if errors %}
    <ul class="errors">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="field">
        <!-- <label for="name">Nome Completo</label> -->
        <input id="name" name="name" type="text" value="{{ name }}" tabindex="1" placeholder="Nome Completo">
    </div>
    <div class="field">
        <!-- <label for="email">Email</label> -->
        <input id="email" name="email" type="email" value="{{ email }}" tabindex="2" autocorrect="off" autocapitalize="off" placeholder="Email">
    </div>
    <div class="field">
        <!-- <label for="document">CPF</label> -->
        <input id="document" name="document" type="number" inputmode="numeric" pattern="\d*"  value="{{ document }}" tabindex="3" placeholder="CPF">
    </div>
    <div class="field">
        <button type="submit">Enviar</button>
    </div>
</form>
{% endif %}

{% endblock %}
