* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #001d33;
    list-style: none;
    list-style-type: none;
}
body {
    background: #f9f9f9;
    .header {
        background: #1DA1F1;
        padding: 20px 40px;
        color: #ffffff;
        font-size: 24*0.75px;
        a {
            float: right;
            display: block;
            padding: 5px 10px;
            border: 2px solid #ffffff;
            border-radius: 5px;
            font-size: 12px;
            margin-top: -5px;
            color: #ffffff;
            text-decoration: none;
        }
    }
    .content {
        padding: 35px 40px;
        h1 {
            color: #001d33;
            font-size: 24*0.75px;
            margin: 0 1.5% 20px;
            font-weight: lighter;
        }
        .card {
            width: 30%;
            float: left;
            margin: 7px 1.5%;
            background: #ffffff;
            padding: 20px 40px;
            box-shadow: 1px 1px rgb(217, 217, 217), 2px 2px rgb(217, 217, 217), 3px 3px rgb(217, 217, 217);
            span.handle {
                font-size: 20*0.75px;
                margin-bottom: 5px;
                display: block;
            }
            span.key {
                font-size: 15*0.75px;
                padding: 0;
                color: #AEAEAE;
                font-family: monospace;
                background: url("../img/key.png") left top no-repeat;
                background-size: 10px;
                padding-left: 14px;
            }
            a {
                float: right;
                margin-left: 40px;
                img {
                    height: 48*0.75px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .card {
        width: 47% !important;
    }
}
@media only screen and (max-width: 780px) {
    .card {
        width: 97% !important;
    }
}
