* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #001d33;
    list-style: none;
    list-style-type: none;
}
body {
    background: #f9f9f9;
    .header {
        background: #1DA1F1;
        padding: 20px 40px;
        color: #ffffff;
        font-size: 24px;
        a {
            float: right;
            display: block;
            padding: 5px;
            border: 2px solid #ffffff;
            border-radius: 5px;
            font-size: 12px;
            color: #ffffff;
            text-decoration: none;
        }
    }
    .content {
        padding: 35px 40px;
        h1 {
            color: #55ACEE;
            font-size: 24px;
            margin: 0 1.5% 20px;
        }
        .card {
            width: 30%;
            float:left;
            margin: 7px 1.5%;
            background: #ffffff;
            padding: 20px 40px;
            box-shadow: 1px 1px rgb(217, 217, 217), 2px 2px rgb(217, 217, 217), 3px 3px rgb(217, 217, 217), 4px 4px rgb(217, 217, 217), 5px 5px rgb(217, 217, 217);
            span.handle {
                font-size: 20px;
                margin-bottom: 13px;
                display: block;
            }
            span.key {
                font-size: 15px;
                color: #AEAEAE;
                font-family: monospace;
            }
            a {
                float: right;
                margin-left: 40px;
            }
        }
    }
}
