* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #001d33;
    list-style: none;
    list-style-type: none
}

body {
    background: #f9f9f9;
    width: 100%;
    height: 100%
}

body .header {
    background: #55acee;
    padding: 12px 40px
}

body .header img {
    margin-right: 12px;
    height: 20px
}

body .header span {
    color: #ffffff;
    font-size: 18px
}

body .preload {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #ffffff
}

body .preload .logo {
    position: absolute;
    left: 50%;
    top: 15px;
    width: 48px;
    margin-left: -24px;
    border-radius: 3px
}

body .preload .loader {
    position: absolute;
    left: 50%;
    top: 90px;
    width: 20px;
    margin-left: -10px
}

body .content {
    z-index: 0;
    position: relative;
    padding: 35px 5%;
    max-width: 810px;
    margin: 0 auto;
}


/* public form - START */

body .content #campaign .campaignHeader {
    border-radius: 0;
    border: 0;
}

body .content #campaign .campaignHeader .field {
    margin: 0 auto 5px;
}

body .content #campaign .campaignHeader .field:first-of-type {
    margin-top: 35px;
    padding: 0;
}

body .content #campaign .campaignHeader .field h3 {
    font-size: 14px;
    font-weight: normal;
    color: #a5a5a5;
    clear: both;
}

body .content #campaign #campaignName {
    font-size: 20px;
    font-weight: bold;
}

body .content #campaign #campaignDescription {
    font-size: 16px;
    color: #a5a5a5;
    padding-bottom: 15px;
    border-bottom: 1px solid #55acee;
}

body .content #campaign .customFields .field input {
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccd6dd;
}

body .content #campaign .customFields .field.error input {
    border-bottom: 1px solid #FF8080;
}

body .content #campaign button[type=submit] {
    float: none;
    width: 35%;
    position: relative;
}

body .content #campaign .buttons {
    text-align: center;
}

body .content #campaign .customFields {
    margin: 10px auto 31px;
}


/* public form - END */

body .content .header .name {
    font-size: 15px
}

body .content .header .handle {
    color: #8899A6;
    font-size: 14px
}

body .content h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 27px
}

.reload {
    margin: 10px 0 0px;
    width: 37px;
    margin-left: 81px
}

@media (max-width: 662px) {
    body .content #campaign .campaignHeader .field:first-of-type {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 540px) {
    body .content #campaign button[type=submit] {
        width: 100%;
    }
}

.tooltip {
    min-width: 180px;
}
